*{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: uc;
  src: url("BebasNeue-Regular.ttf");
}
@keyframes vinil {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(36deg);
  }

  20% {
    transform: rotate(72deg);
  }

  30% {
    transform: rotate(108deg);
  }

  40% {
    transform: rotate(144deg);
  }

  50% {
    transform: rotate(180deg);
  }

  60% {
    transform: rotate(216deg);
  }

  70% {
    transform: rotate(252deg);
  }

  80% {
    transform: rotate(288deg);
  }

  90% {
    transform: rotate(324deg);
  }

  100% {
    transform: rotate(360deg);
  }

}

@keyframes info {

  0% {
    left: 0px;
  }

  100% {
    left: 70%;
  }
}


body {
  background-color: black;
  font-size: 20px;

}

::-webkit-scrollbar {
  display: none;
}
::-moz-webkit-scrollbar {
  display: none;
}


#deepmain {
  position: fixed;
  z-index: 1;
  top: 0;
  /* background-image: linear-gradient(gray, white, gray); */
  background-image: url("aço3.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
  left: 0%;
  height: fit-content;
  width: 96%;
}

#main {
  /* background-color: gray; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40%;

}

#title {
  width: 50%;
}

.imghd {
  width: 15%;
  height: 100%;
  animation-name: vinil;
  animation: vinil 20s linear 0s infinite none;
}


.fastpanel {
  display: none;
}

#info {
  border: outset 3px white;
  background-color: black;
  color: greenyellow;
  width: 100%;
  margin-top: 10px;
}

marquee {
  width: 98%;
  padding-top: 2%;
  font-size: 2em;
  text-transform: uppercase;
  font-family:uc, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#ctrl {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60%;
  width: 100%;
}


.ctrl {
  padding: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


#ctrl img {
  width: 10%;
  height: 100%;

}


#ctrl img:active,#pesq img:active {
  transform: scale(1.5, 1.5);

}

#player {
  display: none
}


#pesq {
  text-align: center;
  border-top: solid red 1px;
  padding: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.pesq {
  margin-top: 5%;
  outline: orangered 1px;
  font-size: 0.7em;
  padding: 5px;
}

#termo{
  width: 60%;
  border-radius: 15px;
  outline: 1px solid blue;
}

#termo:focus{
  outline-color: green;
}

button{
  width: 10%;
  margin-left: 3%;
  text-align: center;
  cursor: pointer;
  padding: 0;
}

#pesq img{
  width: 8%;
 
  cursor: pointer;
}


#res {
  z-index: 0;
  width: 70%;
  margin-top: 330px;
  margin-left: 2%;
}

ul {
  
  width: fit-content;
  
}

li {
  width: fit-content;
  color: aliceblue;
  list-style-type: none;
  padding: 3px 0 3px 0;
  text-wrap: nowrap;
  height: fit-content;
  margin-bottom: 5px;
}

li:hover {
  color: burlywood;
  cursor: pointer;
}

li:active {
  color: red;
}

#ctrl img:hover {
  cursor: pointer;
}

/* dialog{
  color: rgb(5, 43, 5);
	position:fixed;
  height: fit-content;
	top:20px;
	right:5px;
  padding: 5px;
  border: none;
  background-image: linear-gradient(gray,white,gray);

} */

@media screen and (orientation:landscape){
  #master{
    display: flex;
    justify-content: start;
    width: 80%;
  }

  #deepmain {
    width: 40%;
    left: 0%;
  }

  .ctrl {
    padding: 3%;
  }

  marquee {
    font-size: 1.5em; 
    width: 98%;
  }

  ul {
  }

  #res {
    width: 30%;
    margin-top: 1%;
    margin-left: 56%;
  }
  ::-webkit-scrollbar {
    display: none;
  }
}

@media screen and (orientation:landscape) and (min-width:1300px){
  #res {
    width: 30%;
    position: relative;
  }
}

/* @media screen and (orientation:landscape) and (min-width:720px) and (max-width:920px) {

  #deepmain {
    width: 40%;
    left: 0%;

  }

  .ctrl {
    padding: 3%;
  }

  ul {
    margin-top: 5%;
  }

  #res {
    margin-left: 47%;
    width: 50%;
  }

  ::-webkit-scrollbar {
    display: none;
  }

}

@media screen and (orientation:landscape) and (min-width:921px) and (max-width:1380px) {

  #deepmain {
    width: 40%;
    left: 0%;

  }



  .ctrl {
    padding: 3%;
  }

  ul {
    margin-top: 3%;
  }

  #res {
    margin-left: 50%;
  }
  ::-webkit-scrollbar {
    display: none;
  }

}

@media screen and (orientation:landscape) and (min-width:320px) and (max-width:719px) {

  #deepmain {
    width: 40%;
    left: 0%;
  }

  .ctrl {
    padding: 3%;
  }

  marquee {
    font-size: 1.5em;
    
    width: 98%;
  }

  ul {
    margin-top: 2%;
  }

  #res {
    margin-left: 63%;
  }
  ::-webkit-scrollbar {
    display: none;
  }
}
*/


@media screen and (min-width:360px) and (orientation:portrait) {
  ul {
    margin-top: 360px;
  }
  ::-webkit-scrollbar {
    display: none;
  }

}

@media screen and (min-width:390px) and (orientation:portrait) {
  ul {
    margin-top: 380px;
  }
  ::-webkit-scrollbar {
    display: none;
  }

}

@media screen and (min-width:410px) and (orientation:portrait) {
  ul {
    margin-top: 400px;
  }
  ::-webkit-scrollbar {
    display: none;
  }

}

@media screen and (min-width:440px) and (orientation:portrait) {
  ul {
    margin-top: 420px;
  }
  ::-webkit-scrollbar {
    display: none;
  }

}

@media screen and (min-width:470px) and (orientation:portrait) {
  ul {
    margin-top: 440px;
  }
  ::-webkit-scrollbar {
    display: none;
  }

}
@media screen and (min-width:500px) and (orientation:portrait) {
  ul {
    margin-top: 460px;
  }
  ::-webkit-scrollbar {
    display: none;
  }

}
@media screen and (min-width:530px) and (orientation:portrait) {
  ul {
    margin-top: 480px;
  }
  ::-webkit-scrollbar {
    display: none;
  }

}
@media screen and (min-width:560px) and (orientation:portrait) {
  ul {
    margin-top: 500px;
  }
  ::-webkit-scrollbar {
    display: none;
  }

}
@media screen and (min-width:590px) and (orientation:portrait) {
  ul {
    margin-top: 520px;
  }
  ::-webkit-scrollbar {
    display: none;
  }

}

@media screen and (min-width:610px) and (orientation:portrait) {
  ul {
    margin-top: 540px;
  }
  ::-webkit-scrollbar {
    display: none;
  }

}
@media screen and (min-width:640px) and (orientation:portrait) {
  ul {
    margin-top: 560px;
  }
  ::-webkit-scrollbar {
    display: none;
  }

}
@media screen and (min-width:670px) and (orientation:portrait) {
  ul {
    margin-top: 580px;
  }
  ::-webkit-scrollbar {
    display: none;
  }

}
@media screen and (min-width:700px) and (orientation:portrait) {
  ul {
    margin-top: 600px;
  }
  ::-webkit-scrollbar {
    display: none;
  }

}
@media screen and (min-width:730px) and (orientation:portrait) {
  ul {
    margin-top: 620px;
  }
  ::-webkit-scrollbar {
    display: none;
  }

}
@media screen and (min-width:760px) and (orientation:portrait) {
  ul {
    margin-top: 640px;
  }
  ::-webkit-scrollbar {
    display: none;
  }

}
@media screen and (min-width:790px) and (orientation:portrait) {
  ul {
    margin-top: 660px;
  }
  ::-webkit-scrollbar {
    display: none;
  }

}
@media screen and (min-width:810px) and (orientation:portrait) {
  ul {
    margin-top: 680px;
  }
  ::-webkit-scrollbar {
    display: none;
  }

}
@media screen and (min-width:840px) and (orientation:portrait) {
  ul {
    margin-top: 700px;
  }
  ::-webkit-scrollbar {
    display: none;
  }

}
@media screen and (min-width:870px) and (orientation:portrait) {
  ul {
    margin-top: 720px;
  }
  ::-webkit-scrollbar {
    display: none;
  }

}

@media screen and (min-width:900px) and (orientation:portrait) {
  ul {
    margin-top: 740px;
  }
  ::-webkit-scrollbar {
    display: none;
  }

}
@media screen and (min-width:930px) and (orientation:portrait) {
  ul {
    margin-top: 760px;
  }
  ::-webkit-scrollbar {
    display: none;
  }

}
@media screen and (min-width:960px) and (orientation:portrait) {
  ul {
    margin-top: 780px;
  }
  ::-webkit-scrollbar {
    display: none;
  }

}
@media screen and (min-width:980px) and (orientation:portrait) {
  ul {
    margin-top: 800px;
  }
  ::-webkit-scrollbar {
    display: none;
  }

}
@media screen and (min-width:1010px) and (orientation:portrait) {
  ul {
    margin-top: 820px;
  }
  ::-webkit-scrollbar {
    display: none;
  }

}

 
/* @media screen and (min-width:530px) and (orientation:portrait) {
  ul {
    margin-top: 500px;
    
  }
  ::-webkit-scrollbar {
    display: none;
  }

}
@media screen and (min-width:530px) and (orientation:portrait) {
  ul {
    margin-top: 500px;
    
  }
  ::-webkit-scrollbar {
    display: none;
  }

} */

/*
  @media screen and (min-width:720px){

    h1{
      font-size: 3em;
    }

  }

  @media screen and (min-width:810px) and (orientation:portrait){
  #main, #res{
    left:3.5%
  }
  #res{
    left:3%
  }
  }


  @media screen and (max-width:720px) and (orientation:landscape){
    #main, #res{
      left:23%
    }
    #res{
      left:22%
    }
    } */

/* 
    @media screen and (max-width:320px){
      #deepmain{
        position: fixed;
        z-index: 1;
        top: 0;
        width: 90%;
        left: 5%;
        height: fit-content;
      }
      
       #main{
          background-image: linear-gradient(gray,white,gray);
          border: 2px solid red;
          border-radius: 15px;
          padding: 10px;
        }
      
        #header{
          display: flex;
          justify-content:space-between;
          align-items: center;
         
        }
      
       #title{
        
        
       }
      
        .imghd{
          width: 20%;
          height: 100%;
          animation-name: vinil;
          animation: vinil 20s linear 0s infinite none;
        }
      
      
      .fastpanel{
        display: none;
      }
      
        #info{
          height: fit-content;
          border: inset 5px red;
          background-color: black;
          color: greenyellow;
          position: relative;
          top: 5px;
        }
      
      marquee{
        width: 100%;
      }
        #ctrl{
          position: relative;
          top: 10px;
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      
      
        .ctrl{
          padding: 5%;
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-around;
        }
      
      
        #ctrl img{
          width: 10%;
          height: 100%;
        }
      
        #ctrl img:active{
          transform: scale(1.5,1.5);
      
        }
      
        #player{
          display:none
        }
      
      
        #pesq{
          position: relative;
          width: 90%;
          margin-top: 5px;
          text-align: center;
          padding: 5px;
          left: 3%;
        }
      
        .pesq{
          border: 1px solid red;
          text-align: center;
          margin-bottom: 5px;
        }
      
        #res{
          z-index: 0;
          position: relative;
          top: 5px;
          width: 90%;
          left: 5%;
          display: none;
          color: aliceblue;
        }
      
        li{
          list-style-type: none;
          margin-top: 3px;
          padding: 3px;
          text-wrap: nowrap;
        }
      
        li:hover{
          background-color:aqua ;
          color: black;
          cursor: pointer;
        }
      
        li:active{
          color:red;
        }
        #ctrl img:hover{
          cursor: pointer;
        }
      dialog{
        color: rgb(5, 43, 5);
        position:fixed;
        height: fit-content;
        top:20px;
        right:5px;
        padding: 5px;
        border: none;
        background-image: linear-gradient(gray,white,gray);
      
      }
    }
*/